<div class="row">
	<div class="col-xl-12">
		<h3>{{ title }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-xl-12">
		
		<ul>
			<li *ngFor="let buySellBCLinks of links">
				{{buySellBCLinks.dchLinkTitle}}
				<br />
				<a href="{{buySellBCLinks.dchLink}}" target="_blank">{{buySellBCLinks.dchLink}}</a>
				<br /><br />
			</li>
		</ul>
		
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

 