<div class="main-container">
	<div class="sideMenu">
		<div>
			<img src="../assets/images/Bitcoin.png" width="100px" />
		</div>
		 
		<nav> 
			<ul>
				<li><a routerLink="/main">Main</a></li>
				<li><a href="">Buy / Sell bitcoins</a></li>
				<li><a routerLink="/digitalwallet">Digital Wallet</a></li>
				<li><a href="">Jobs</a></li>
				<li><a href="">Startups</a></li>
				<li><a href="">Ethereum</a></li>
				<li><a href="">News</a></li>
			</ul>
		</nav>
		
	</div><!-- sideMenu -->
	
	<div class="content_area">
		<div class="container-fluid" style="background-color: #F4E5D4;">
			<h1>{{title}}</h1>
			<br />
			 <router-outlet></router-outlet>		
		</div>
	</div><!-- content_area -->
	
</div><!-- main-container -->
