<div class="main-container">
	<div class="sideMenu">
		<div>
			<img src="../assets/images/Bitcoin.png" width="100px" />
		</div>
		 
		<nav> 
			<ul>
				<li><a routerLink="/main">Main</a></li>
				<li><a routerLink="/buy-sell">Buy / Sell bitcoins</a></li>
				<li><a routerLink="/digital-wallet">Digital Wallet</a></li>
				<li><a routerLink="/jobs">Jobs</a></li>
				<li><a routerLink="/digital-coins">Digital Coins list</a></li>
				<li><a routerLink="/startups">Startups</a></li>
				<li><a routerLink="/ethereum">Ethereum</a></li>
				<li><a routerLink="/news">News</a></li>
				<li><a routerLink="/buy-with-digital-coin">Buy with Digital Coins</a></li>
			</ul>
		</nav>
		
	</div><!-- sideMenu -->
	
	<div class="content_area">
		<div class="container-fluid" style="background-color: #F4E5D4;">
			<div class="row">
				<div class="col-xl-12">
					<h1>{{title}}</h1>
				</div>
			</div>

			 <router-outlet></router-outlet>		
		</div>
	</div><!-- content_area -->
	
</div><!-- main-container -->

