<div class="row">
	<div class="col-xl-12">
		<h3>{{ title }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-xl-12">
		<a href="https://paxful.com/" target="_blank">https://paxful.com/</a>
		<br /><br />
		<a href="https://bitpay.com" target="_blank">https://bitpay.com</a>
		<br /><br />
		<a href="https://www.coinmama.com" target="_blank">https://www.coinmama.com</a>
		<br /><br />
		BUY AND SELL DIGITAL CURRENCY:
		<br />
		<a href="https://www.coinbase.com" target="_blank">https://www.coinbase.com</a>
		
		<br /><br />
		Buy and sell bitcoins near you:
		<br />
		<a href="https://localbitcoins.com/" target="_blank">https://localbitcoins.com/</a>
		
		<br /><br />
		Cryptocurrency Market Capitalizations:
		<br />
		<a href="https://coinmarketcap.com" target="_blank">https://coinmarketcap.com</a>
		 
		<br /><br />
		Trading Bitcoin
		<br />
		<a href="https://www.livecoin.net" target="_blank">https://www.livecoin.net</a>
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

 