<div class="row">
	<div class="col-xl-12">
		<h3>{{ title }}</h3>
	</div>
</div>


<div class="row">
	<div class="col-xl-12">
		
		<p>Pay with Bitcoin:</p>
		<br />
		<a href="https://www.overstock.com" target="_blank">https://www.overstock.com</a>
		<br />
		<a href="https://www.gyft.com" target="_blank">https://www.gyft.com</a>
		<br />
		<a href="https://purse.io/shop" target="_blank">https://purse.io/shop</a>
		
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

<div class="row">
	<div class="col-xl-12">
		<p>Website by</p><a href="http://www.glikdesign.com" target="_blank">Glik Design</a>
	</div>
</div>