<div class="row">
	<div class="col-xl-12">
		<h3>{{ title }}</h3>
	</div>
</div>


<div class="row">
	<div class="col-xl-12">
		
		<a href="https://the0cean.com" target="_blank">https://the0cean.com</a>
		<p>
			The premier 0x relayer and liquidity pool for trading Ethereum-based tokens
		</p>
		
		<a href="https://www.bancor.network" target="_blank">https://www.bancor.network</a>
		<p>
			Bancor is a Decentralized Liquidity Network that allows you to hold any Ethereum token and 
			convert it to any other token in the network, with no counter party, at an automatically 
			calculated price, using a simple web wallet.
		</p>
		
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

<div class="row">
	<div class="col-xl-12">
		<p>Website by</p><a href="http://www.glikdesign.com" target="_blank">Glik Design</a>
	</div>
</div>