<div class="row">
	<div class="col-xl-12">
		<h3>{{ title }}</h3>
	</div>
</div>


<div class="row">
	<div class="col-xl-12">
		
		<p>
			New York City:
			<br />
			<a href="http://blockchaintechcorp.com/careers/" target="_blank">http://blockchaintechcorp.com/careers/</a>
			<br />
			<a href="https://www.coindesk.com/jobs/" target="_blank">https://www.coindesk.com/jobs/</a>
		
		</p>
		
		<p>
			San Francisco, CA
			<br />
			<a href="https://www.coinbase.com/careers" target="_blank">https://www.coinbase.com/careers</a>
		</p>
		
	</div>
</div>