<div class="row">
	<div class="col-xl-12">
		<h2>{{title}}</h2>
	</div>
</div>
					
<div class="row">
	<div class="col-xl-12">
		

		<a href="https://news.bitcoin.com/" target="_blank">https://news.bitcoin.com/</a>
		
		<br /><br />
		<h3>Blogs</h3>
		<br />
		<a href="https://cryptopotato.com" target="_blank">https://cryptopotato.com</a>
		<br />
		<a href="https://www.coindesk.com" target="_blank">https://www.coindesk.com</a>
		<br />
		<a href="https://99bitcoins.com" target="_blank">https://99bitcoins.com</a>
		
		<ul>
			<li *ngFor="let newsLinks of links">
				<p>{{newsLinks.dchLinkTitle}}</p>
				<a href="{{newsLinks.dchLink}}" target="_blank">{{newsLinks.dchLink}}</a>
			</li>
		</ul>
		
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

<div class="row">
	<div class="col-xl-12">
		<p>Website by</p><a href="http://www.glikdesign.com" target="_blank">Glik Design</a>
	</div>
</div>
