<!-- Header -->
<div class="row">
	<div class="col-xl-12">
		<div *ngIf="cryptos">
			<div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
				<span class="left">{{ crypto }}</span>
				<span class="right">{{ cryptos[crypto].USD | currency:'USD':true}}</span>
			</div>
		</div>
	</div>
</div>
<!-- ********* -->


<div class="row">
	<div class="col-xl-12 headerBg">
		<h1>{{ title }}</h1>
	</div>
</div>

<div class="row">
	<div class="col-xl-12">
		

		<h2>Buy / Sell bitcoins - bitcoin exchange</h2>
		<br />
		<a href="https://paxful.com/" target="_blank">https://paxful.com/</a>
		<br />
		<a href="https://bitpay.com" target="_blank">https://bitpay.com</a>
		<br />
		<a href="https://www.coinmama.com" target="_blank">https://www.coinmama.com</a>
		<br /><br />
		<h2>Advertising networks</h2>
		<br />
		<a href="https://bitmedia.io" target="_blank">https://bitmedia.io</a>
		<br /><br />
		<h2>Digital Wallet: </h2>
		<br />
		<a href="https://blockchain.info/wallet" target="_blank">https://blockchain.info/wallet</a>
		<br />
		<a href="https://wallet.mycelium.com/" target="_blank">https://wallet.mycelium.com/</a>
		<br />
		<a href="https://greenaddress.it/en/" target="_blank">https://greenaddress.it/en/</a>
							
		<br /><br />
		<h2>Social media networks: </h2>
		<br />
		<a href="https://steem.io" target="_blank">https://steem.io</a>
		<br />
		<a href="http://www.coinsns.com" target="_blank">http://www.coinsns.com</a>
		<br />
		<a href="http://www.paymeabit.com" target="_blank">http://www.paymeabit.com</a>
		<br />
		<a href="https://bitconnect.co" target="_blank">https://bitconnect.co</a>
		<br />
		<a href="https://www.etoro.com/" target="_blank">https://www.etoro.com/</a>
		
		<br /><br />
		<p>blockchain based Financial Investment Banking Platform</p>
		<a href="https://blockhaus.io" target="_blank">https://blockhaus.io</a>
	</div>
</div>

<!-- Advertising -->
<banner-wide></banner-wide> <!-- banner wide has already row and col -->
<!-- ************* -->

<div class="row">
	<div class="col-xl-12">
		<p>Website by</p><a href="http://www.glikdesign.com" target="_blank">Glik Design</a>
	</div>
</div>
